
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title> setpassword</title>
    <style>
        *{
            margin:0;
            padding: 0;
            
        }
        body{
            background-color: skyblue;
            text-align: center;
        }
    </style>
    </head>
    
    <body >
    
    <h1> change password <br>
        
    </h1>
    <div style="background-color: red; border-radius: 20px;">
<h3>

    <%=notification  %> 
</h3>
    </div>
<br><br>
    <form action="/user/profile/setpassword" method="post">
  <label for=""> Old password</label>  <input type="text" name="oldpassword"> <br>
   <label for=""> New password</label> <input type="text" name="newpassword"> <br>
  <label for=""> confirmpassword</label>  <input type="text" name="confirmpassword">
    <button type="submit"> submit</button>

    </form>
    <a href="/"> <button> Back</button></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
    </html>